*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    unicode-bidi: isolate;
    
    
}
html{
    scroll-behavior: smooth;
}
header{
    height: 60px;
    width: 100%;
    background-color: #1f1f35;
    position: relative;
    top: 0px;
    z-index: 1000;
}
.row-div{
    width: 1260px;
    height: 46.5px;
    margin: auto;
    background-color: transparent;
    display: flex;
}
.row-div-address{
    background-color: transparent;
    width: 940px;
    position: relative;
    top: 15px;
    font-size: 14px;
color: white;
padding-top: 5px;    height: 30px;
}
#AB1{
    border-right: 1px solid white;
    width: 420px;
}
#AB2{
    border-right: 1px solid white;
    width: 190px;
    text-align: center;
}
#AB3{
    width: 270px;
    text-align: center;
}
.row-div-address a,i{
    text-decoration: none;
    color: #ffffff;

}
.row-div-address ul{
 display: flex;
justify-content: start;
    list-style-type: none;
}
.row-div-address-1-button{
    width: 190px;
    height: 40px;
    background-color: transparent;
  position: relative;
  top: 9px;
  left: 0px;

}
.row-div-address-1-button button{
    width: 160px;
    height: 40px;
    position: relative;
    left: 15px;
    background-color: #ffb606;
    border: none;
    border-radius: 10px;
    
    
}
.row-div-address-1-button button a{
    text-decoration: none;
    font-family: "Poppins" sans-serif;
    font-size: 14px;
    color: #1f1f35;
    padding: auto;
    font-weight: bold;
    text-transform: uppercase;

}
/* navbar -------1*/
.navbar-home-1{
    width: 100%;
    height: 90px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
   
}
.navbar-1-main{
    width: 1270px;
    background-color: transparent;
    height: 90px;
    margin: auto;
    display: flex;
}
.navbar-dropdown-1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbar-dropdown-1 a{
    font-size: 14px ;
    font-weight: 500;
    text-decoration: none;
    color: #1f1f35;
    font-family: "poppins" sans-serif;
}
.navbar-dropdown-1{
    width: 70%;
    position: relative;
    left: 100px;

}
.navbar-logo-main a{
    width: 180px;
    height: 70px;
    margin: 0px 0px 0px -15px;
 z-index: 111;
    padding: 10px 15px;
}
.navbar-logo-main img{
    width: 150px;
    position: relative;
    top: 14px;
    right: 6px;
    z-index: 1111;
    height: 50px;
}
#drpbtn {
    position: relative;
    

}
.navbar-dropdown-1 ul{
    padding: 35px 10px;
}
#drpbtn1{
    
    
    position: relative;
   
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:250px;
    top: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
}
.dropdown-content-1{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width:1150px;
    top: 56px;
    height: 150px;
    right: 0px;
    
    
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
}
.dropdown-content-1-A-Main{
    display: flex;
    justify-content: space-between;
    
}
.dropdown-content ul{
    display: flex;
    flex-direction: column;
    
   row-gap: 5px;
   
}
.dropdown-content-1 ul{
    display: flex;
    flex-direction: column;
    
   row-gap: 5px;
   
}
.dropdown-content-1-A ul{
    display: flex;
    flex-direction: column;
    
   row-gap: 5px;
   
}
.dropdown-content-1-B ul{
    display: flex;
    flex-direction: column;
    
   row-gap: 5px;
   
}
.dropdown-content-1-C ul{
    display: flex;
    flex-direction: column;
    
   row-gap: 5px;
   
}

#dropborder-0{
    border-bottom:1px solid silver ;
    padding-right:  15px ;
    padding-left: 15px;
    padding-bottom: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
#dropborder-1{
    border-bottom:1px solid silver ;
    padding: 12px 15px ;
    font-weight: 400;
    text-transform: capitalize;
}
#dropborder-2{
   
    padding-left: 15px ;
    padding-top: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
#dropborder-1-A{
    
   
    font-weight: 400;
    text-transform: capitalize;
}
#dropborder-2-A{
   
    
    font-weight: 400;
    text-transform: capitalize;
}
.dropdown-content a{
    text-decoration: none;
    position: relative;
    color: #1f1f35;
    font-weight: 400;
    font-size: 14px;
    font-family: "poppins" sans-serif;
}
.dropdown-content a:hover{
    color: #ffb606;
}
.dropdown-content-1 a{
    text-decoration: none;
    position: relative;
    color: #1f1f35;
    font-weight: 400;
    font-size: 16px;
    padding-left: 35px;
    font-family: "poppins" sans-serif;
}
.dropdown-content-1 a:hover{
    color: #ffb606;
}
#drpbtn:hover .dropdown-content{
    display: block;


}



#drpbtn1:hover .dropdown-content{
    display: block;

}
#drpbtn1:hover .dropdown-content{
    display: block;

}
#drpbtnA:hover .dropdown-content-1{
    display: block;

}
.dropdown-content-1-A{
    width: 40%;
    height: 105px;
   
}
.dropdown-content-1-B{
    width: 40%;
    height: 105px;
  
}
.dropdown-content-1-C{
    width: 30%;
    height: 105px;
    
}
/*menu-address-home*/
.menu-address-home{
    width: 100%;
    height: 460px;
    background-image: url(/21.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    bottom: 150px;

}
.contact-address-home{
    position: relative;
    top: 260px;
    font-size: 60px;
    width: 1140px;
    color: white;
    height: 72px;
    margin: auto;
    text-align: center;
}
.contact-address-home-1{
    position: relative;
    top: 270px;

width: 198px;
height: 48px;
background-color: #0000008b;
margin: auto;
text-align: center;
padding-top:10px ;
padding-left: 5px;
border-radius: 6px ;

}
.contact-address-home-1 ul{
    display: flex;
    column-gap: 25px;
}

.contact-address-home-1 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "poppins" sans-serif;
    
}
#cli1{
    list-style-type: circle;
    color: #ffb606;
    
    
}
#cli2{
    list-style-type: square;
    color: #ffb606;
    
    
}
/* About-us-menu*/
.About-us-menu{
    
    height: 550px;
    width: 100%;
    bottom: 100px;
    position: relative;
    border-bottom: 2px solid whitesmoke;
    
}
.About-us-menu-1 {
    width: 80%;
    height: 500px;
    margin: auto;
   

}
.About-us-menu-1 h2{
    width:138px;
    height: 56px;
    font-size: 30px;
    margin: auto;
    text-align: center;
}
.hr4141{
    display: flex;
    width: 10%;
    height: 50px;
    margin: auto;
    text-align: center;
    position: relative;
    
    
}
#hr4541{
    width: 100px;
    height: 20px;
    color: #ffb606;
    
}
#hr4542{
    width: 50px;
    height: 20px;
    color: #ffb606;
}
.para-1414{
    width: 756px;
    height: 150px;
    margin: auto;
}
.para-1414 p{
    width: 752px;
   margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    font-family: "poppins" sans-serif;
}
.mission-vision{
    width: 100%;
    height: 200px;
    
    position: relative;
    top: 25px;
    display: flex;
    
    justify-content: space-evenly;
    margin: auto;
}
.mission-vision1{
    width: 540px;
    height: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    column-gap: 25px;
    padding: 50px 30px;
}
.mission-vision1-A{
    width: 95px;
    height: 118px;
}
.mission-vision1-A img{
    width: 80px;
    height: 80.8px;
    mix-blend-mode: multiply;
}
.mission-vision1-B h4{
    font-size: 16px;
    font-family: "poppins" sans-serif;
margin: 0px 0px 5px;
text-transform: capitalize;
color: #002147;
width: 385px;
height: 20.8px;
font-weight: bold;
position: relative;
bottom: 10px;
}
.mission-vision1-B p{
        width: 385px;
        height:78px ;
}
.mission-vision2{
    width: 540px;
    height: 190px;
    
    display: flex;
    column-gap: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 50px 30px;
}
/*about-sir*/
.about-sir{
    width: 100%;
    background-color: transparent;
    height: 700px;
    border-bottom: 1px solid #e7e7e7;
}
.about-sir-1A-A{
    width: 100%;
    background-color: transparent;
    height: 730px;
    
    position: relative;
    top: 50px;
}

.about-sir-1{
    width: 80%;
    background-color: transparent;
    height: 680px;
    margin: auto;
    display: flex;
}
.about-sir-1-A img{
    width: 457px;
    height: 600px;
}
.about-sir-1-A{
    width: 40%;
    height: 650px;
}
.about-sir-2{
    width: 60%;
    background-color: transparent;
    height: 650px;
    padding: 10px;
}
.about-sir-2 h3{
    width: 632px;
    height: 28.8px;
    margin: 0px 0px 15px;
    font-size: 24px;
    color: #002147;
    font-weight: 400;

}
.cea ul{
    position: relative;
    right: 25px;
    font-size: 14px;
    color: #1f1f35;
}
.about-sir-2 p{
    margin: 0px 0px 15px;
    width: 632px;
    font-size: 14px;
}
.cea span{
    float: right;
}

.cea li{
    width: 632px;
    height: 37px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/* address -main*/
.address{
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
 }
 .address-main{
    height: 350px;
    
    width: 80%;
    margin: auto;
    display: flex;
 }
 .address-main-1{
    width: 30%;
    height: 350px;
 }
 .address-main-2{
    width: 20%;
    height: 350px;
 }
 .address-main-3{
    width: 30%;
    height: 350px;
 }
 .address-main h2{
    font-size: 22px;
    color: #002147;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 35px;
 }
 .address-main-1 img{
    margin-bottom:35px ;
 }
 .address-main p{
    font-size: 14px;
    color: #666666;
    margin-bottom:15px ;
    padding: 0px 20px 0px 0px;
 }
 #of123{
    font-size: 16px;
    font-weight: bold;
 }
 #Webod123{
    position: relative;
    bottom: 15px;
    font-size: 16px;
    font-weight: bold;
 }
 #waop1{
    position: relative;
    bottom: 15px;
    font-size: 16px;
 }
 #waopti{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 45px;
    margin-bottom: 0px;
 }
 .address-main-4 a{
    text-decoration: none;
    line-height: 2em;
    font-weight: 300;
    color: #002147;
    font-size: 14px;
    position: relative;
    bottom: 10px;

 }
 .address-main-4 i{
    color: #000000;
 }
 .email{
    position: relative;
    bottom: 20px;
 }
 .filp{
    display: flex;
    column-gap:5px ;
 }
 .filp button{
    width: 40px;
    height: 40px;
    padding: 5px;
    padding-top: 15px;
    border: 0.5px solid #666666;
 }
 .filp button:hover{
    background-color: #002147;
    transition: 0.3s ease-in-out;
    border: none;
 }
 #IFA:hover{
    color: aliceblue;
 }
 .address-main-2 a{
    text-decoration: none;
    color: #666666;
    font-size: 16px;
 }
 .address-main-2 a:hover{
    color: #ffb606;
 }
 /* footer*/
 footer{
    width: 100%;
    height: 70px;
    background-color: #002147;
 }
 .footer{
    width: 80%;
    height: 50px;
    margin: auto;
    position: relative;
    top: 10px;
    padding: 10px;
   
    display: flex
 }
 .footer-1{
    width: 70%;
    
 }
 .footer-1 span{
    font-size: 16px;
    font-weight: bolder;
    color: white;
 }
 .footer-1 a{
    text-decoration: none;
    font-size: 16px;
    color: #ffb606;
    font-weight: bolder;
 }
 #box1414{
    border-right:1px solid white;
   
 }
 a{
    text-decoration: none;
 }
 .footer-2 a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 5px;
 }